*{
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
}

nav {
	text-align: center;
	justify-content: space-between;
	flex: 2;
}

nav li {
	text-decoration: none;
	position: relative;
	display: inline-block;
	padding: 10px 40px;
}

nav li a {
	font-size: 20px;
	text-decoration: none;
	color: rgb(255, 255, 255);
}

nav li a:hover { 
	text-decoration: none;
}

nav li a:before {
	content: "";
	position: absolute;
	width: 80%;
	height: 2px;
	bottom: 10%;
	left: 10%;
	background-color: rgb(255, 255, 255);
	visibility: hidden;
	transform: scaleX(0);
	transition: all 0.3s ease-in-out;
}

nav li a:hover:before{
	visibility: visible;
	transform: scaleX(1);
}


.nav-links {
	justify-content: space-around;
	list-style: none;
}

.logo {
	font-weight: 400;
	margin: 5px;
}

.logo a {
	font-family: Impact;
	font-style: italic;
	font-size: 80px;
	color: #6A93CB;
}

.hero {
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(../img/banner.jpg);
	background-position: center;
	background-size: cover;
	position: absolute;
}

.header {
	display: flex;
	width: 1400px;
	height: 40px;
	align-items: center;
	position: relative;
	margin: 1% auto;
	background: linear-gradient(to right, rgb(83, 127, 189), rgb(109, 150, 221));
	padding: 5px 0px;
	border-radius: 20px;
}

.logo-container {
	flex: 1;
}

.logo-container h1 {
	color: white;
	margin: 2% auto;
	font-size: 50px;
}

.logo-container h4 {
	color: white;
	font-size: 30px;
	margin-left: 30px;
}

.blue-bg {
	background: linear-gradient(to right, rgb(83, 127, 189), rgb(109, 150, 221));
	padding: 10px 20px;
	border-radius: 10px;
}

.logo-container,
.nav-links {
	display: flex;
}

.interact-btn {	
	display: inline-block;
    height: 134px;
    padding: 0;
    margin: 0;
    width: 104px;
    display: block;
    height: 40px;  
    width: 40px;
}

.logout-btn {	
	width: 100%;
	padding: 10px 20px;
	cursor: pointer;
	display: block;
	color: rgb(83, 127, 189);
	font-weight: bold;
	background: linear-gradient(to right, rgb(255, 255, 255), rgb(221, 233, 255));
	border: 0;
	outline: none;
	border-radius: 30px;
	box-shadow: 0 0 5px rgba(0,0,0,.3);
}

.button-box {
	width: 255px;
	margin: 35px auto;
	position: relative;
	border-radius: 30px;
	background: #a7a7a7;
	box-shadow: inset 0 0 5px rgba(0,0,0,.2), 0 0 5px rgba(0,0,0,.2);
}

.toggle-btn {
	width: 49%;
	padding: 10px 25px;
	color: white;
	font-weight: bold;
	cursor: pointer;
	background: transparent;
	border: 0;
	outline: none;
	position: relative;
}

.simple-btn {
	width: 100%;
	padding: 20px;
	color: #494949;
	cursor: pointer;
	background: transparent;
	border: 0;
	outline: none;
	position: relative;
}

.white-button {
	width: 70px;
	height: 30px;
	border: 0;
	border-radius: 30px;
	box-shadow: 0 0 5px rgba(0,0,0,.2);
}

#moving-btn {
	top: 0;
	left: 0;
	position: absolute;
	width: 127px;
	height: 100%;
	background: linear-gradient(to right, rgb(83, 127, 189), rgb(109, 150, 221));
	box-shadow: 0 0 2px rgba(0,0,0,.2);
	border-radius: 30px;
	transition: .5s;
}

.gender-select {
	position: relative;
	width: 160px;
	height: 25px;
	margin-left: 3px;
	margin-bottom: 5px;
	cursor: pointer;
	color: #ffffff;
	text-align: center;
	line-height: 25px;
	-webkit-appearance: none;
	background-color: #cacaca;
	outline: none;
	border-radius: 5px;
	box-shadow: inset 0 0 5px rgba(0,0,0,.2);
}

.gender-select:before {
	content: 'Herr';
	position: absolute;
	width: 80px;
	height: 25px;
	border-radius: 5px;
	top: 0;
	left: 0;
	background: linear-gradient(to right, rgb(83, 127, 189), rgb(109, 150, 221));
	transform: scale(1.1);
	box-shadow: 1px 0 3px rgba(0,0,0,.2);
	transition: .5s;
}

.gender-select:checked:before {
	content: 'Frau';
	left: 80px;
}

select {
   -webkit-appearance:none;
   -moz-appearance:none;
   -ms-appearance:none;
   appearance:none;
   outline:0;
   box-shadow:none;
   border:0!important;
   background: rgb(109, 150, 221);
   background-image: none;
   box-shadow: inset 0 0 5px rgba(0,0,0,.2);
   flex: 1;
   padding: 0 10px;
   color:rgb(255, 255, 255);
   cursor:pointer;
   font-family: sans-serif;
}

select::-ms-expand {
   display: none;
}

.select {
   position: relative;
   display: flex;
   margin: 10px 0px;
   width: 200px;
   height: 24px;
   line-height: 3;
   background: #d4d4d4;
   box-shadow: inset 0 0 5px rgba(0,0,0,.2), 0 0 5px rgba(0,0,0,.2);
   overflow: hidden;
   border-radius: .25em;
}

.select::after {
   content: '\25BC';
   color: rgb(255, 255, 255);
   position: absolute;
   top: -11;
   right: 0;
   padding: 0 10px;
   background: #8b8b8b;
   cursor:pointer;
   pointer-events:none;
   transition:.25s all ease;
}

.select:hover::after {
   color: rgb(144, 175, 219);
}

#select-register {
	margin-top: 15px;
}

.input-group {
	top: 180px;
	position: absolute;
	width: 280px;
	transition: .5s;
}

.input-field {
	width: 100%;
	padding: 10px 0;
	border-left: 0;
	border-top: 0;
	border-right: 0;
	border-bottom: 1px solid #999999;
	outline: none;
	background: transparent;
}

.input-blue {
	width: 150px;
	padding: 5px 10px;
	margin: 5px 0px;
	border: 0;
	border-radius: 5px;
	outline: none;
	color: rgb(255, 255, 255);
	box-shadow: inset 0 0 5px rgba(0,0,0,.2), 0 0 5px rgba(0,0,0,.2);
	background: rgb(109, 150, 221);
}

#search-bar {
	width: 95%;
	margin: 5px 15px;
}

.input-blue::placeholder {
	color: rgb(255, 255, 255);
}

.submit-btn {
	width: 85%;
	padding: 10px 30px;
	cursor: pointer;
	display: block;
	margin: auto;
	color: white;
	font-weight: bold;
	background: linear-gradient(to right, rgb(83, 127, 189), rgb(109, 150, 221));
	border: 0;
	outline: none;
	border-radius: 30px;
	box-shadow: 0 0 5px rgba(0,0,0,.3);
}

#submit-btn-form {
	width: 200px;
	display: unset;
	margin: 10px 0px;
	color: white;
	font-weight: bold;
	border-radius: 10px;
	box-shadow: 0 0 5px rgba(0,0,0,.3);
}

.check-box {
	margin: 30px 10px 43px 0px;
}

span {
	color: #777777;
	font-size: 12px;
	bottom: 68px;
	position: absolute;
}

#login {
	top: 100px;
	left: 50px;
}

#register {
	top: 100px;
	left: 450px;
}

.white-box {
	position: relative;
	background: #FFFFFF;
	width: 380px;
	height: 350px;
	border-radius: 15px;
	margin: 0 auto;
	overflow: hidden;
	transition: .5s;
}

.a-blue {
	color: white;
	padding: 5px 20px;
	background: linear-gradient(to right, rgb(83, 127, 189), rgb(109, 150, 221));
	border-radius: 10px;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
}

h2 {
	color: rgb(106, 147, 203);
	padding: 10px 10px;
}

h3 {
	color: rgb(106, 147, 203);
	padding: 10px 10px;
}

.main {
	width: 1400px;
	min-height: 850px;
	display: flex;
	background: rgba(255, 255, 255, 0.7);
	margin: auto;
	border-radius: 20px;
}

.left-content {
	width: 47%;
	margin: 1% 1% auto;
}

.right-content {
	width: 47%;
	margin: 1% 1% auto;
}

.center-content {
	text-align: center;
	margin: 20px auto;
}

.content-box {
	margin: 10px 5px;
}

.content-box h5{
	margin: 30px;
	color: white;
}

.content-table {
	width: 100%;
	table-layout: fixed;
	border-collapse: collapse;
	font-size: 0.9em;
	text-align: center;
	border-radius: 20px 20px 0 0;
	overflow: hidden;
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.content-table thead tr {
	background: linear-gradient(to right, rgb(80, 131, 201), rgb(91, 142, 230));
	text-align: left;
	font-weight: bold;
	border-radius: 20px 20px 0 0;
	color: white;
}

.content-table th {
	padding: 20px 5px;
	text-align: center;
	color: white;
}

.content-table td {
	padding: 20px 5px;
	color: white;
}

.content-table tbody tr {
	background: rgba(91, 142, 230, 0.5);
	cursor: pointer;
	border-bottom: 1px solid rgb(172, 190, 216);
}

.content-table tbody tr.active-row {
	font-weight: bold;
}

.content-table tbody tr[data-href] {
	cursor: pointer;
}

.table-box {
	overflow-y: auto;
	background: rgba(91, 142, 230, 0.5);
	box-shadow: 5px 1px 10px rgba(0,0,0,.2);
}

.table-box table {
	border-radius: 0px;
}

.table-box::-webkit-scrollbar {
	display: none;
}

#div-tab-ang-an {
	height: 270px;
}

#div-tab-appointments-an {
	height: 460px;
}

#div-tab-appointments-pa {
	height: 280px;
}

#div-tab-measurements-pa {
	height: 300px;
}

#div-tab-pa-ar {
	height: 300px;
}

#div-tab-measurements-ar {
	height: 230px;
}

#div-tab-appointments-ar {
	height: 680px;
}

#table-end {
	height: 20px;
	width: 100%;
	box-shadow: 3px 3px 10px rgba(0,0,0,.2);
	background: linear-gradient(to right, rgb(80, 131, 201), rgb(91, 142, 230));
	border-radius: 0 0 20px 20px;
}

#personal-info {
	display: flex;
}

#personal-info p {
	color: rgb(106, 147, 203);
	font-weight: bold;
	padding-left: 20px;
	margin: 10px 0;
}

#patient-left {
	width: 70%;
}

#patient-right {
	width: 24%;
}

.indent {
	padding-left: 15px;
}

.notes {
	width: 98%;
	height: 115px;
	padding: 10px;
	margin: 0 1%;
	resize: none;
	background: rgb(121, 158, 223);
	border-radius: 10px;
	color: white;
	box-shadow: inset 0 0 5px rgba(0,0,0,.2), 0 0 5px rgba(0,0,0,.2);
}

.notes:focus {
	outline: none;
}

#kontakt-left {
	width: 40%;
}

#kontakt-right {
	width: 54%;
}

.img-edit {
	width: 20px; 
	height: 20px;
}

.img-delete {
	width: 17px; 
	height: 20px;
}

.icon {
	width: 45px;
}