<html>
	<head>
		<title>Arztpraxis</title>
		<link rel="icon" type="image/png" href="./img/favicon.png"/>
		<link href="./css/style.css" type="text/css" rel="stylesheet"/>
		<meta charset="UTF-8">
		<script language="javascript" type="text/javascript" src="funcs.js"></script>
	</head>
	<body>
		<div class="hero">
			<div class="header">
				<div class="logo-container">
					<h4>Arztpraxis</h4>
				</div>
				<nav>
					<ul class="nav-links">
						<li><a href="an_angehoerige.html">Angehörige</a></li>
						<li><a href="an_kontakt.html">Kontakt</a></li>
					</ul>
				</nav>
				<div class="content-box">
					<h5>Rolle: Angehöriger ({{userData.benutzername}})</h5>
				</div>
				<div class="content-box">
					<form id="logout" action="/logout" method="post">
						<button type="submit" class="logout-btn">Logout</button>
					</form>
				</div>
			</div>
			<div class="main">
				<div class="left-content">

					<div class="content-box">
						<h2>Angehörige</h2>
					</div>

					<div class="content-box">
						<div>
							<table class="content-table">
								<thead>
									<tr>
										<th>Name</th>
										<th>Geburtsdatum</th>
										<th>Telefon</th>
									</tr>
								</thead>
							</table>
						</div>
						<div id="div-tab-ang-an" class="table-box">
							<table id="table-content-ang" class="content-table">
								<tbody>
									{{#each p_list}}
										{{#each patient}}
									<tr id={{_id}}>
										<td>{{vorname}} {{nachname}}</td>
										<td>{{geburtsdatum}}</td>
										<td>{{telefon}}</td>
										{{/each}}
									</tr>
									{{/each}}
								</tbody>
							</table>
						</div>
						<div id="table-end">		
						</div>
					</div>
					
					<div id="personal-info" class="content-box">
						<div class="content-box" style="width: 48%">
							<h3>Messdaten eintragen</h3>
							<div class="indent">
								<form action="/messdaten" method="POST">
									<div class="select">
										<select name="case" id="case" onchange="changeMask()" required>
											<option value="Blutdruck">Blutdruck</option>
											<option value="Cholesterin">Cholesterin</option>
											<option value="Blutzucker">Blutzucker</option>
											<option value="Temperatur">Temperatur</option>
										</select><br>
									</div>
									<input name="input_p_sys" id="input_p_sys" type="text" class="input-blue" placeholder="SYS" required><br>
									<input name="input_p_dia" id="input_p_dia" type="text" class="input-blue" placeholder="DIA" required><br>
									<input name="input_p_pulse" id="input_p_pulse" type="text" class="input-blue" placeholder="Puls" required><br>
									<input name="input_p_chol" id="input_p_chol" type="hidden" class="input-blue" placeholder="228 mg/dl"><br>
									<input name="input_p_bs" id="input_p_bs" type="hidden" class="input-blue" placeholder="100 mg/dl"><br>
									<input name="input_p_temp" id="input_p_temp" type="hidden" class="input-blue" placeholder="37°"><br>
									<input name="input_p_uid" id="input_p_uid" type="hidden" value="{{selected.patient._id}}"><br>
									<button id="submit-btn-form" type="submit" class="submit-btn">Messdaten eintragen</button>
								</form>
							</div>
						</div>
						<div class="content-box" style="width: 48%">
							<h3>Termin ändern</h3>
							<div class="indent">
								<form action="/changeapp" method="POST">
									<p style="padding-left: 0px;">Ausgewählter Termin:</p>
									<p style="padding-left: 10px;">Datum: {{selectedApp.datum}} // Uhrzeit: {{selectedApp.uhrzeit}}</p>
									<p style="padding-left: 10px;"> Behandlung: {{selectedApp.behandlung}}</p>
									<input name="datum" type="text" class="input-blue" placeholder="jjjj-mm-dd" required><br>
									<input name="uhrzeit" type="text" class="input-blue" placeholder="--:--" required><br>
									<div class="select">
										<select name="case" id="case" required>
											<option value="Blutdruck">Blutdruck</option>
											<option value="Cholesterin">Cholesterin</option>
											<option value="Blutzucker">Blutzucker</option>
											<option value="Temperatur">Temperatur</option>
										</select><br>
									</div>
									<div class="select">
										<select name="doctor" id="doctor" required>
											{{#each a_list}}
											<option value={{_id}}>{{vorname}} {{nachname}}</option>
											{{/each}}
										</select><br>
									</div>
									<input name="termin_id" id="termin_id" type="hidden" value="{{selectedApp._id}}"><br>
									<input name="patient_id" id="termin_id" type="hidden" value="{{selectedApp.patient_id}}"><br>
									<button id="submit-btn-form" type="submit" class="submit-btn">Termin ändern</button>
								</form>
							</div>
						</div>
					</div>
                </div>
				<div class="right-content">
					<div class="content-box">
						<h2>{{selected.patient.vorname}} {{selected.patient.nachname}}</h2>
					</div>
					<div id="personal-info" class="content-box">
						<div class="content-box" style="width: 55%">
							<p>Vorname: {{selected.patient.vorname}}</p>
							<p>Nachname: {{selected.patient.nachname}}</p>
							<p>Geburtsdatum: {{selected.patient.geburtsdatum}}</p>
						</div>
						<div class="content-box" style="width: 20%">
							<img src="profile.png" style="width: 120px; height: 120px;">
						</div>
					</div>
					<div class="content-box">
						<h3>Anstehende Termine</h3>
						<div>
							<table class="content-table">
								<thead>
									<tr>
                                        <th>Datum</th>
                                        <th>Uhrzeit</th>
                                        <th>Behandlung</th>
										<th>Arzt</th>
										<th>Ändern</th>
										<th>Löschen</th>
									</tr>
								</thead>
							</table>
						</div>
						<div id="div-tab-appointments-an" class="table-box">
							<table id="table-content-t-an" class="content-table">
								<tbody>
									{{#each t_list}}
									<tr id={{_id}} name='termin'>
                                        <td>{{datum}}</td>
                                        <td>{{uhrzeit}} Uhr</td>
										<td>{{behandlung}}</td>
										{{#each arzt}}
										<td>{{vorname}} {{nachname}}</td>
										{{/each}}
										<td><input type="image" class="edit-button" src="./img/edit.png" border="0" style="width: 20px;" /></td>
										<td><input type="image" class="delete-button" src="./img/delete.png" border="0" style="width: 20px;" /></td>
									</tr>
									{{/each}}
								</tbody>
							</table>
						</div>
						<div id="table-end">		
						</div>
					</div>
				</div>
			</div>
		</div>

		<script>

			clickableTable('table-content-ang');
			editAble('table-content-t-an');
			deleteAble('table-content-t-an');

		</script>

	</body>
</html>
