<html>
	<head>
		<title>Arztpraxis</title>
		<link rel="icon" type="image/png" href="./img/favicon.png"/>
		<link href="style.css" type="text/css" rel="stylesheet"/>
		<meta charset="UTF-8">
	</head>
	<body>
		<div class="hero">
			<div class="header">
				<div class="logo-container">
					<h4>Arztpraxis</h4>
				</div>
				<nav>
					<ul class="nav-links">
                        <li><a href="ar_patienten.html">Patienten</a></li>
                        <li><a href="ar_termine.html">Termine</a></li>
						<li><a href="ar_kontakt.html">Kontakt</a></li>
					</ul>
				</nav>
				<div class="content-box">
					<h5>Rolle: Arzt ({{userData.benutzername}})</h5>
				</div>
				<div class="content-box">
					<form id="logout" action="/logout" method="post">
						<button type="submit" class="logout-btn">Logout</button>
					</form>
				</div>
            </div>
            
			<div class="main">
				<div id="kontakt-left" class="left-content">
					<div class="content-box">
						<h2>Kontakt</h2>
						<div>
							<table class="content-table">
								<thead>
									<tr>
										<th></th>
										<th></th>
										<th></th>
									</tr>
								</thead>
							</table>
						</div>
						<div id="div-tab-appointments-ang" class="table-box">
							<table id="table-content-ang" class="content-table">
								<tbody>
									<tr>
										<td style="font-weight: bold;">Adresse</td>
										<td>72762 Reutlingen, Blubstraße 57</td>		
									</tr>
									<tr>
										<td style="font-weight: bold;">Telefonnummer</td>
										<td>07121 0101010101</td>
										
									</tr>
									<tr>
										<td style="font-weight: bold;">Notfalnummer</td>
										<td>07121 1010101010</td>
										
									</tr>
									<tr>
										<td style="font-weight: bold;">Fax</td>
										<td>07121 0000011111</td>
										
									</tr>
								</tbody>
							</table>
						</div>
						<div id="table-end">		
						</div>
					</div>
				</div>
				
				<div id="kontakt-right" class="right-content">
					<div class="content-box">
						<h2>Sprechstunden</h2>
						<div>
							<table class="content-table">
								<thead>
									<tr>
										<th>Wochentag</th>
										<th>Vormittags</th>
										<th>Nachmittags</th>
									</tr>
								</thead>
							</table>
						</div>
						<div id="div-tab-appointments-ang" class="table-box">
							<table id="table-content-ang" class="content-table">
								<tbody>
									<tr>
										<td>Montag</td>
										<td>07:00-11:00 Uhr</td>
										<td>14:00-18:00 Uhr</td>
									</tr>
									<tr>
										<td>Dienstag</td>
										<td>07:00-11:00 Uhr</td>
										<td>14:00-18:00 Uhr</td>
									</tr>
									<tr>
										<td>Mittwoch</td>
										<td>07:00-11:00 Uhr</td>
										<td>14:00-18:00 Uhr</td>
									</tr>
									<tr>
										<td>Donnerstag</td>
										<td>07:00-11:00 Uhr</td>
										<td>14:00-18:00 Uhr</td>
									</tr>
									<tr>
										<td>Freitag</td>
										<td>07:00-11:00 Uhr</td>
										<td>14:00-18:00 Uhr</td>
									</tr>
									<tr>
										<td>Samstag</td>
										<td>07:00-11:00 Uhr</td>
										<td>14:00-18:00 Uhr</td>
									</tr>
								</tbody>
							</table>
						</div>
						<div id="table-end">		
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>