<html>
	<head>
		<title>Arztpraxis</title>
		<link rel="icon" type="image/png" href="./img/favicon.png"/>
		<link href="style.css" type="text/css" rel="stylesheet"/>
		<meta charset="UTF-8">
		<script language="javascript" type="text/javascript" src="funcs.js"></script>
	</head>
	<body>
		<div class="hero">
			<div class="header">
				<div class="logo-container">
					<h4>Arztpraxis</h4>
				</div>
				<nav>
					<ul class="nav-links">
                        <li><a href="ar_patienten.html">Patienten</a></li>
                        <li><a href="ar_termine.html">Termine</a></li>
						<li><a href="ar_kontakt.html">Kontakt</a></li>
					</ul>
				</nav>
				<div class="content-box">
					<h5>Rolle: Arzt ({{userData.benutzername}})</h5>
				</div>
				<div class="content-box">
					<form id="logout" action="/logout" method="post">
						<button type="submit" class="logout-btn">Logout</button>
					</form>
				</div>
            </div>
            
			<div class="main">
				<div class="left-content">
					<div class="content-box">
						<h2>Patienten</h2>
					</div>
					<div class="content-box">
						<input id="search-bar" type="text" class="input-blue" placeholder="Suche" required><br>
					</div>
					<div class="content-box">
						<div>
							<table class="content-table">
								<thead>
									<tr>
										<th>Name</th>
										<th>Geburtsdatum</th>
										<th>Angehöriger</th>
									</tr>
								</thead>
							</table>
						</div>
						<div id="div-tab-pa-ar" class="table-box">
							<table id="table-content-pa" class="content-table">
								<tbody>
									{{#each p_list}}
										{{#each patient}}
									<tr id={{_id}}>
										<td>{{vorname}} {{nachname}}</td>
										<td>{{geburtsdatum}}</td>
										{{/each}}
										{{#each angehoeriger}}
										<td>{{vorname}} {{nachname}}</td>
										{{/each}}
									</tr>
									{{/each}}
								</tbody>
							</table>
						</div>
						<div id="table-end">		
						</div>
					</div>

                    <div class="content-box">
                        <h3>Messdaten eintragen</h3>
                        <div class="indent">
                            <form action="/messdaten" method="POST">
                                <div class="select">
                                    <select name="case" id="case" onchange="changeMask()" required>
										<option value="Blutdruck">Blutdruck</option>
										<option value="Cholesterin">Cholesterin</option>
										<option value="Blutzucker">Blutzucker</option>
										<option value="Temperatur">Temperatur</option>
                                	</select><br>
								</div>
                                <input name="input_p_sys" id="input_p_sys" type="text" class="input-blue" placeholder="SYS" required><br>
								<input name="input_p_dia" id="input_p_dia" type="text" class="input-blue" placeholder="DIA" required><br>
								<input name="input_p_pulse" id="input_p_pulse" type="text" class="input-blue" placeholder="Puls" required><br>
								<input name="input_p_chol" id="input_p_chol" type="hidden" class="input-blue" placeholder="228 mg/dl"><br>
								<input name="input_p_bs" id="input_p_bs" type="hidden" class="input-blue" placeholder="100 mg/dl"><br>
								<input name="input_p_temp" id="input_p_temp" type="hidden" class="input-blue" placeholder="37°"><br>
								<input name="input_p_uid" id="input_p_uid" type="hidden" value="{{selected.patient._id}}"><br>
                                <button id="submit-btn-form" type="submit" class="submit-btn">Messdaten eintragen</button>
                            </form>
                        </div>
					</div>
                </div>
                
				<div class="right-content">
					<div class="content-box">
						<h2>{{selected.patient.vorname}} {{selected.patient.nachname}}</h2>
					</div>
					<div id="personal-info" class="content-box">
						<div class="content-box" style="width: 48%">
							<p>Vorname: {{selected.patient.vorname}}</p>
							<p>Nachname: {{selected.patient.nachname}}</p>
							<p>Geburtsdatum: {{selected.patient.geburtsdatum}}</p>
							<p>Ort: {{selected.patient.ort}}</p>
							<p>Straße: {{selected.patient.strasse}}</p>
							<p>Telefon: {{selected.patient.telefon}}</p>
							<p>E-Mail: {{selected.patient.email}}</p>
						</div>
						<div class="content-box" style="width: 48%">
							<div class="content-box">
								<h3>Angehöriger</h3>
							</div>
							<p>Vorname: {{selected.angehoeriger.vorname}}</p>
							<p>Nachname: {{selected.angehoeriger.nachname}}</p>
							<p>Telefon: {{selected.angehoeriger.telefon}}</p>
							<p>E-Mail: {{selected.angehoeriger.email}}</p>
						</div>
					</div>
					<div class="content-box">
						<h3>Notizen</h3>
						<textarea class="notes">
						</textarea>
					</div>

					<div class="content-box">
						<h3>Messdaten</h3>
						<div>
							<table class="content-table">
								<thead>
									<tr>
                                        <th>Bezeichnung</th>
                                        <th>Werte</th>
                                        <th>Uhrzeit</th>
										<th>Datum</th>
										<th>Ändern</th>
										<th>Löschen</th>
									</tr>
								</thead>
							</table>
						</div>
						<div id="div-tab-measurements-ar" class="table-box">
							<table id="table-content-me-ar" class="content-table">
								<tbody>
									{{#each m_list}}
									<tr id={{_id}} name="messwert">
										<td>{{bezeichnung}}</td>
										<td>{{werte}}</td>
										<td>{{uhrzeit}} Uhr</td>
										<td>{{datum}}</td>
										<td><input type="image" class="edit-button" src="./img/edit.png" border="0" style="width: 20px;" /></td>
										<td><input type="image" class="delete-button" src="./img/delete.png" border="0" style="width: 20px;" /></td>
									</tr>
									{{/each}}
								</tbody>
							</table>
						</div>
						<div id="table-end">		
						</div>
					</div>

				</div>
			</div>
		</div>
		<script>

			clickableTable('table-content-pa');
			editAble('table-content-me-ar');
			deleteAble('table-content-me-ar');

		</script>
	</body>
</html>
