<html>
	<head>
		<title>Arztpraxis</title>
		<link rel="icon" type="image/png" href="./img/favicon.png"/>
		<link href="style.css" type="text/css" rel="stylesheet"/>
		<meta charset="UTF-8">
	</head>
	<body>
		<div class="hero">
			<div class="header">
				<div class="logo-container">
					<h4>Arztpraxis</h4>
				</div>
				<nav>
					<ul class="nav-links">
                        <li><a href="ar_patienten.html">Patienten</a></li>
                        <li><a href="ar_termine.html">Termine</a></li>
						<li><a href="ar_kontakt.html">Kontakt</a></li>
					</ul>
				</nav>
				<div class="content-box">
					<h5>Rolle: Arzt ({{userData.benutzername}})</h5>
				</div>
				<div class="content-box">
					<form id="logout" action="/logout" method="post">
						<button type="submit" class="logout-btn">Logout</button>
					</form>
				</div>
            </div>
            
			<div class="main">
				<div class="left-content">
					<div class="content-box">
						<h3>Anstehende Termine</h3>
						<div>
							<table class="content-table">
								<thead>
									<tr>
										<th>Datum</th>
										<th>Uhrzeit</th>
										<th>Patient</th>
										<th>Behandlung</th>
									</tr>
								</thead>
							</table>
						</div>
						<div id="div-tab-appointments-ar" class="table-box">
							<table id="table-content-ang" class="content-table">
								<tbody>
									{{#each t_list}}
									<tr>
										<td>{{datum}}</td>
										<td>{{uhrzeit}}</td>
										{{#each patient}}
										<td>{{vorname}} {{nachname}}</td>
										{{/each}}
										<td>{{behandlung}}</td>
									</tr>
									{{/each}}
								</tbody>
							</table>
						</div>
						<div id="table-end">		
						</div>
					</div>
                </div>
                
				<div class="right-content">

				</div>
			</div>
		</div>
	</body>
</html>