<html>
	<head>
		<title>Arztpraxis</title>
		<link rel="icon" type="image/png" href="./img/favicon.png"/>
		<link href="style.css" type="text/css" rel="stylesheet"/>
		<meta charset="UTF-8">
		<script language="javascript" type="text/javascript" src="funcs.js"></script>
	</head>
	<body>
		<div class="hero">
			<div class="header">
				<div class="logo-container">
					<h4>Arztpraxis</h4>
				</div>
				<nav>
					<ul class="nav-links">
                        <li><a href="pa_termine.html">Termine</a></li>
                        <li><a href="pa_messdaten.html">Messdaten</a></li>
						<li><a href="pa_kontakt.html">Kontakt</a></li>
					</ul>
				</nav>
				<div class="content-box">
					<h5>Rolle: Patient ({{userData.benutzername}})</h5>
				</div>
				<div class="content-box">
					<form id="logout" action="/logout" method="post">
						<button type="submit" class="logout-btn">Logout</button>
					</form>
				</div>
            </div>
            
			<div class="main">
				<div id="patient-left" class="left-content">
                    <div class="content-box">
						<h2>Messdaten</h2>
					</div>
                    <div class="content-box">
                        <h3>Messdaten eintragen</h3>
                        <div class="indent">
                            <form action="/messdaten" method="POST">
                                <div class="select">
                                    <select name="case" id="case" onchange="changeMask()" required>
										<option value="Blutdruck">Blutdruck</option>
										<option value="Cholesterin">Cholesterin</option>
										<option value="Blutzucker">Blutzucker</option>
										<option value="Temperatur">Temperatur</option>
                                	</select><br>
								</div>
                                <input name="input_p_sys" id="input_p_sys" type="text" class="input-blue" placeholder="SYS" required><br>
								<input name="input_p_dia" id="input_p_dia" type="text" class="input-blue" placeholder="DIA" required><br>
								<input name="input_p_pulse" id="input_p_pulse" type="text" class="input-blue" placeholder="Puls" required><br>
								<input name="input_p_chol" id="input_p_chol" type="hidden" class="input-blue" placeholder="228 mg/dl"><br>
								<input name="input_p_bs" id="input_p_bs" type="hidden" class="input-blue" placeholder="100 mg/dl"><br>
								<input name="input_p_temp" id="input_p_temp" type="hidden" class="input-blue" placeholder="37°"><br>
								<input name="input_p_uid" id="input_p_uid" type="hidden" value="{{userData._id}}"><br>
                                <button id="submit-btn-form" type="submit" class="submit-btn">Messdaten eintragen</button>
                            </form>
                        </div>
					</div>
					<div class="content-box">
						<h3>Messdatenliste</h3>
						<div>
							<table class="content-table">
								<thead>
									<tr>
                                        <th>Bezeichnung</th>
                                        <th>Werte</th>
                                        <th>Uhrzeit</th>
										<th>Datum</th>
										<th>Ändern</th>
										<th>Löschen</th>
									</tr>
								</thead>
							</table>
						</div>
						<div id="div-tab-measurements-pa" class="table-box">
							<table id="content-table-me-pa" class="content-table">
								<tbody>
									{{#each m_list}}
									<tr id={{_id}} name="messwert">
										<td>{{bezeichnung}}</td>
										<td>{{werte}}</td>
										<td>{{uhrzeit}} Uhr</td>
										<td>{{datum}}</td>
										<td><input type="image" class="edit-button" src="./img/edit.png" border="0" style="width: 20px;" /></td>
										<td><input type="image" class="delete-button" src="./img/delete.png" border="0" style="width: 20px;" /></td>
									</tr>
									{{/each}}
								</tbody>
							</table>
						</div>
						<div id="table-end">		
						</div>
					</div>
					
                </div>
                
				<div id="patient-right" class="right-content">

				</div>
			</div>
		</div>
		<script>
			editAble('content-table-me-pa');
			deleteAble('content-table-me-pa');
		</script>
	</body>
</html>
