<html>
	<head>
        <title>Arztpraxis</title>
        <link rel="icon" type="image/png" href="./img/favicon.png"/>
		<link href="./css/style.css" type="text/css" rel="stylesheet"/>
		<script language="javascript" type="text/javascript" src="funcs.js"></script>
		<meta charset="UTF-8">
	</head>
	<body>
		<div class="hero">
			<div class="header">
				<div class="logo-container">
					<h4>Arztpraxis</h4>
				</div>
				<nav>
					<ul class="nav-links">
                        <li><a href="pa_termine.html">Termine</a></li>
                        <li><a href="pa_messdaten.html">Messdaten</a></li>
						<li><a href="pa_kontakt.html">Kontakt</a></li>
					</ul>
				</nav>
				<div class="content-box">
					<h5>Rolle: Patient ({{userData.benutzername}})</h5>
				</div>
				<div class="content-box">
					<form id="logout" action="/logout" method="post">
						<button type="submit" class="logout-btn">Logout</button>
					</form>
				</div>
            </div>
            
			<div class="main">
				<div id="patient-left" class="left-content">
                    <div class="content-box">
						<h2>Nächster Termin</h2>
					</div>
                    <div id="personal-info" class="content-box">
                        <div class="content-box" style="width: 55%">
							<p>Datum: {{nextApmnt.datum}}</p>
							<p>Uhrzeit: {{nextApmnt.uhrzeit}}</p>
						</div>
                    </div>
					<div id="personal-info" class="content-box">
						<div class="content-box" style="width: 48%;">
							<h3>Neuen Arzttermin erstellen</h3>
							<div class="indent">
								<form action="/termin/" method="POST">
									<input name="datum" type="text" class="input-blue" placeholder="jjjj-mm-dd" required><br>
									<input name="uhrzeit" type="text" class="input-blue" placeholder="--:--" required><br>
									<input name="patient" type="hidden" value={{userData._id}}>
									<div class="select">
										<select name="case" id="case" required>
											<option value="Blutdruck">Blutdruck</option>
											<option value="Cholesterin">Cholesterin</option>
											<option value="Blutzucker">Blutzucker</option>
											<option value="Temperatur">Temperatur</option>
										</select><br>
									</div>
									<div class="select">
										<select name="doctor" id="doctor" required>
											{{#each a_list}}
											<option value={{_id}}>{{vorname}} {{nachname}}</option>
											{{/each}}
										</select><br>
									</div>
									<button id="submit-btn-form" type="submit" class="submit-btn">Termin erstellen</button>
								</form>
							</div>
						</div>
						<div class="content-box" style="width: 48%">
							<div class="content-box">
								<h3>Angehoerigen hinzufügen</h3>
								<div class="indent">
									<form action="/angehoeriger" method="POST">
										<input name="angehoeriger" type="text" class="input-blue" placeholder="ID" required><br>
										<input name="userid" type="hidden" value={{userData._id}}>
										<button id="submit-btn-form" type="submit" class="submit-btn">Hinzufügen</button>
									</form>
								</div>
							</div>
						</div>
					</div>
                    <div class="content-box">
						<h3>Termine</h3>
						<div>
							<table class="content-table">
								<thead>
									<tr>
                                        <th>Datum</th>
                                        <th>Uhrzeit</th>
                                        <th>Behandlung</th>
                                        <th>Arzt</th>
                                        <th>Ändern</th>
                                        <th>Löschen</th>
									</tr>
								</thead>
							</table>
						</div>
						<div id="div-tab-appointments-pa" class="table-box">
							<table id="table-content-t-ang" class="content-table">
								<tbody>
                                    {{#each t_list}}
									<tr id={{_id}} name="termin">
                                        <td>{{datum}}</td>
                                        <td>{{uhrzeit}}</td>
                                        <td>{{behandlung}}</td>
										{{#each arzt}}
										<td>{{vorname}} {{nachname}}</td>
										{{/each}}
										<td><input type="image" class="edit-button" src="./img/edit.png" border="0" style="width: 20px;" /></td>
										<td><input type="image" class="delete-button" src="./img/delete.png" border="0" style="width: 20px;" /></td>
                                    </tr>
                                    {{/each}}
								</tbody>
							</table>
						</div>
						<div id="table-end">		
						</div>
					</div>
				</div>
				<div id="patient-right" class="right-content">

				</div>
			</div>
		</div>
		<script>
			editAble('table-content-t-ang');
			deleteAble('table-content-t-ang');
		</script>
	</body>
</html>
